mj-section
    mj-column
        mj-text Tu veux que ton animal devienne la star des fêtes ? SupVéto lance son concours photo de Noël !
        mj-text Habille ton compagnon avec un accessoire ou un déguisement festif, ajoute une touche d’humour et de créativité, et prends la photo la plus joyeuse de l’année. Tu peux être sur la photo ou laisser ton animal briller seul, mais n’oublie jamais : le respect et le bien-être de ton compagnon passent avant tout.
        mj-text Pour participer, envoie une seule photo par mail à concours.national.noel@supveto.com, en précisant ton nom, ton prénom et ton école SupVéto.
        mj-text C’est l’occasion de partager un moment de complicité, de diffuser de la bonne humeur autour de toi et de tenter de gagner le concours national SupVéto. Alors {{contact.PRENOM}}, montre ton imagination et fais de ton animal le roi de Noël 
