mj-section(padding="0" background-color="#ffffff")
    mj-column(width="100%")
        mj-image(padding="0" align="center" width="600px" src="images/basImage12025.png" alt="Lapin, perroquet, cheval et serpent avec un chapeau de noël dans un cadre instagram")/
mj-section(padding="20px" padding-bottom="40px" background-color="#008d36")
    mj-column
        mj-image(padding="0" align="center" width="200px" src="images/logoSupveto.png" alt="logotype de Supveto")/
mj-section(padding="20px")
    mj-column(width="420px")
        mj-text(padding="0" align="center" mj-class="T12 cTW3") Cet e-mail a été envoyé à {{ contact.EMAIL }}. Vous recevez cette information car vous vous êtes inscrit sur Supveto.
        mj-text(padding="0" align="center" mj-class="T12 cTW3") Pour être sûr(e) de recevoir tous nos emails, nous vous conseillons d'ajouter contact@supveto.fr à votre carnet d'adresses.
        mj-text(padding="0" align="center" mj-class="T12 cTW3") Cliquez ici pous vous désabonner
        mj-text(padding="20px 0" align="center" mj-class="T12 cTW3") © 2025 Supveto