mj-section(padding="0" background-color="#ffffff")
    mj-column(width="100%")
        mj-image(padding="0" align="center" width="600px" src="images/basImage12025.png" alt="Lapin, perroquet, cheval et serpent avec un chapeau de noël dans un cadre instagram")
mj-section(padding="0" background-color="#37A943")
    mj-column(width="100%")
        mj-image(padding="0" align="center")
mj-section
    mj-column
        mj-text(align="center") Cet e-mail a été envoyé à {{ contact.EMAIL }}. Vous recevez cette nformation car vous vous êtes inscrit sur Supveto.
        mj-text(align="center") Pour être sûr(e) de recevoir tous nos emails, nous vous conseillons d'ajouter contact@supveto.fr à votre carnet d'adresses.
        mj-text(align="center") Cliquez ici pous vous désabonner
        mj-text(align="center") © 2025 Supveto