mj-section
    mj-column
        mj-image
mj-section
    mj-column
        mj-text(align="center") Jeu Concours 2025
        mj-text(align="center") Photo de Noël
        mj-text(align="center") A envoyer avant le 4 janvier 2026